body{
    background-color: rgb(231, 229, 229);
    
}

.title{
    text-decoration: none;
    font-size: 50px;
    font-family: 楷体;
    color: darkgray;
    background-color: rgb(102, 102, 102);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    }

#div1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: darkgray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}